@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 245, 250;
  --background-rbg-alt: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 31, 31, 31;
    --background-rgb-alt: 26, 26, 26;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgb(var(--background-rgb));
}

::-webkit-scrollbar-thumb {
  background: theme('colors.blue.600');
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.violet.700');
}
