.itemNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

a.icone {
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  flex-grow: 1;
  text-align: center;
  transition: 0.3s color;
}

.icone:hover {
  color: var(--fundo);
}

.seletor {
  width: 1.75rem;
  height: 0.3rem;
  border-radius: 0.3rem 0.3rem 0 0;
  background: transparent;
  transition: 0.3s background;
}

.ativo a.icone {
  color: var(--fundo);
}

.ativo .seletor {
  background: var(--fundo);
}
