.formacao {
  margin: 0.5rem 0;
  width: 100%;
  text-align: center;
}

.titulo,
.instituicao,
.data {
  margin: 0.2rem 0;
}

.titulo {
  font-size: 1.3rem;
  font-weight: bold;
}

.formacao .instituicao,
.data {
  font-size: 0.95rem;
}

.data {
  font-style: italic;
}

/* Tablet em modo paisagem e acima */
@media screen and (min-width: 900px) {
  .formacao {
    text-align: left;
  }
}
