.item-social {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  padding: 1rem;
  margin-right: 1rem;
  background: var(--fundo-alt);
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-social a {
  color: #000;
  transition: 0.3s;
}

.item-social a:hover {
  color: var(--primario);
}
