.formacao {
  margin: 0.5rem 0;
}

.titulo,
.instituicao,
.data {
  margin: 0.2rem 0;
}

.titulo {
  font-size: 1.3rem;
  font-weight: bold;
}

.formacao .instituicao,
.data {
  font-size: 0.95rem;
}

.data {
  font-style: italic;
}
