.nav {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itens {
  background: var(--primario);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem 1.5rem;
  padding-bottom: 0;
  gap: 1.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
}
