.projeto {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--fundo-alt);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projeto img {
  width: 100%;
  border-radius: 0.3rem;
  flex-grow: 1;
}

.barra {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.25rem;
}

.titulo {
  font-size: 1.5rem;
}

.acoes {
  display: flex;
  justify-content: space-between;
}

.acoes a {
  background: var(--primario);
  color: var(--fundo);
  padding: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 0.3rem;
  transition: background 0.3s, color 0.3s;
}

.acoes a:hover {
  background: var(--primario-alt);
}
