.section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section .container > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section img {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: ce;
}

/* Tablet na horizontal e superior */
@media screen and (width > 900px) {
  .section .container > div {
    width: 50%;
  }
}
