:root {
  font-size: 16px;
  --primario: #4574cb;
  --primario-alt: #5386e4;
  --secundario: #8f2d56;
  --fundo: #fff;
  --fundo-alt: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
      font-family: 'Comfortaa', cursive;

    
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.3rem;
}

p, span {
  font-size: 1.3rem;
}

body {
  background-color: var(--fundo);
}

div,
section,
footer,
nav {
  max-width: 100%;
}

a {
  color: var(--primario);
  text-decoration: none;
}

a:hover {
  color: var(--primario-alt);
}

a:active {
  color: var(--secundario);
}

a:visited {
  color: var(--primario);
}
